<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyHomework</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Layout.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery.formatDateTime/dist/jquery.formatDateTime.min.js"></script>
    <script src="~/lib/react/react.min.js"></script>
    <script src="~/lib/react/react-dom.min.js"></script>
    <script src="~/lib/babel-browser/browser.js"></script>
</head>
<body>
    <div>
        @Html.Partial("Header")
    </div>
    <div id="body">
        <div id="left-navigation">
            <ul>
                <li>
                    <a asp-area="" asp-controller="HomeworkPublish" asp-action="Index">查看消息</a>
                </li>
                <li>
                    <a href="#">提交作业 🔧</a>
                </li>
            </ul>
        </div>
        <div id="content">@RenderBody()</div>
    </div>
    <div id="footer">

    </div>
    @RenderSection("scripts", required: false)
    @RenderSection("css", required: false)
</body>
</html>
